* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

:root {
    --red: #D9483B;
    --green: #028102;
    --blue: #8F60F6;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 3.5rem;
    font-family: "Philosopher", serif;
}

.section-title span {
    color: var(--red);
}

.sub-header {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    font-family: "Philosopher", serif;
}

p {
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.7rem;
    letter-spacing: 0.05rem;
}

.button {
    padding: 12px 35px;
    display: inline-block;
    transition: 0.2s ease;
    border-radius: 8px;
    background-color: white;
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
}

.button .button-img {
    position: absolute;
    z-index: -1;
}

.red.button {
    color: var(--red);
    border: 2px solid var(--red);

}

.red.button:hover {
    background-color: var(--red);
    color: white;
}

.red.button .button-img {
    top: -52%;
    right: -13%;
    width: 50px;
}

.blue.button {
    color: var(--blue);
    border: 2px solid var(--blue);
}

.blue.button:hover {
    background-color: var(--blue);
    color: white;
}

.blue.button .button-img {
    top: -155%;
    left: -9%;
    width: 60px;
}

.green.button:hover {
    background-color: var(--green);
    color: white;
}

.green.button {
    color: var(--green);
    border: 2px solid var(--green);
}

.green.button .button-img {
    width: 40px;
    top: -65%;
    left: -9%;
    transform: rotate(-13deg);
}


/* Hero */
#hero {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/images/background-moriya.jpg);
    background-position: center;
    background-size: cover;
}

#hero .hero {
    align-items: flex-start;
    padding-left: 20px;
}

#hero h1 {
    font-size: 6rem;
    line-height: 120%;
    color: white;
}

#hero h1 span {
    color: var(--red);
}

/* End Hero */

/* About Us */
#about-us {
    padding: 100px 0;
}

#about-us .about-us {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    gap: 100px;
    justify-content: flex-start;
}

#about-us h1 {
    margin-bottom: -50px;
}

#about-us .the-shrine {
    display: flex;
    flex-direction: column;
}
#about-us .shrine-img {
    min-height: 250px;
    max-height: 350px;
    overflow: hidden;
}
#about-us .shrine-img img {
    min-height: 250px;
    max-height: 350px;
}
#about-us .shrine-info {
    padding: 40px 30px 30px;
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.3);
    background-color: white;
    max-width: 800px;
    z-index: 1;
}

#about-us .the-shrine h2 {
    margin-bottom: 20px;
}

#about-us .the-shrine p {
    margin-bottom: 25px;
}

#about-us .our-members {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#about-us .our-members h2 {
    margin-bottom: 50px;
}

#about-us .members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
}

#about-us .member-card {
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.3);
    border-radius: 8px;
    padding: 50px 20px 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-us .member-info {
    padding: 0 10px;
}
#about-us .member-card h3 {
    font-size: 2.4rem;
    margin-bottom: 20px;
    letter-spacing: 0.2rem;
}

#about-us .members .member-card:nth-child(1) h3 {
    color: var(--green);
}

#about-us .members .member-card:nth-child(2) h3 {
    color: var(--red);
}

#about-us .members .member-card:nth-child(3) h3 {
    color: var(--blue);
}

#about-us .member-card a {
    margin: 25px 0 50px;
    max-width: 200px;
}

#about-us .member-card .member-img {  
    min-height: 350px;
    max-height: 550px;
    width: 100%;
}

#about-us .member-card .member-img img {  
    min-height: 400px;
    max-height: 550px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
    border: 10px solid #FFFFFF;
}
/* End About Us */

/* Location */


#location .location {
    width: 100%;
    margin: 0 auto;
    justify-content: flex-start;
}

#location h1 {
    margin-bottom: 20px;
}
#location .location-info {
    width: 90%;
    text-align: center;
}
#location .map-container {
    margin-top: 50px;
    width: 100%;
    height: 80vh;
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.3);
    
}

#location .map {
    width: 100%;
    height: 100%;
    border: none;
}
/* End location */

/* Contact */
#contact .contact {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: flex-start;
    padding: 100px 0;
    min-height: auto;
}

#contact h1 {
    margin-bottom: 50px;
}
#contact .contact-img {
    width: 100%;
    min-height: 250px;
    max-height: 350px;
    max-width: 800px;
    overflow: hidden;
}
#contact .contact-img img {
    min-height: 250px;
}
#contact .contact-info {
    width: 100%;
    padding: 40px 30px 30px;
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.3);
}

#contact .contact-card {
    display: flex;
    flex-direction: column;
}

#contact .contact-info h2 {
    margin-bottom: 10px;
}

#contact .contact-info .contact-top p {
    margin-bottom: 20px;
}
#contact .contact-item-icon {
    width: 40px;
    border: 1px solid var(--red);
    border-radius: 100%;
    padding: 5px;
}

#contact .contact-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contact .contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

#contact .contact-item p {
    font-weight: 500;
    font-size: 1.4rem;
}
/* End Contact */

/* Footer */
#footer {
    background-color: #393E46;
}
#footer .footer {
    min-height: auto;
    min-height: 20vh;
    color: white;
    padding: 20px 0 10px;
}

#footer h2 {
    margin-bottom: 10px;
}

#footer p {
    margin-bottom: 5px;
}

#footer .footer-img {
    width: 55px;
    height: 55px;
    margin: 5px;
}

#footer .footer-img img {
    border: 2px solid #FFFFFF;
}

#footer .sources {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
/* End Footer */

/* Media Queries */

/* ??? */
@media only screen and (min-width: 768px) {
    
    #about-us .member-card {
        flex-direction: row;
        align-items: flex-start;
        padding: 1% 4%; 
        gap: 10%; 
    }

    #about-us .member-card .member-img {
        width: 40%;
    }

    #about-us .member-card .member-img img {
        max-height: 450px;
    }

    #about-us .member-card .member-img {
        width: 400px;
    }

    #about-us .member-info {
        width: 60%;
        padding-top:8%;
    }

    #about-us .member-card:nth-child(2) {
        flex-direction: row-reverse;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) {
    /* Hero */
    #hero h1 {
        font-size: 7.5rem;
    }
   /* End Hero */
}

/* End Tablet */

/* Desktop */
@media only screen and (min-width: 1200px) {
    
    #about-us .the-shrine {
        flex-direction: row;
        position: relative;
        margin: 10vh auto;
    }

    #about-us .shrine-img {
        width: 50%;
    }

    #about-us .shrine-info {
        width: 50%; 
        padding-top: 5.5%;
        
    }
    
    #about-us .member-card {
        width: 100%;
        padding: 1% 5%;
        justify-content: space-between;
        align-items: flex-start;
    }

    #about-us .member-img {
        width: 50%;
    }

    #about-us .member-info {
        width: 55%;
        height: 100%;
        padding-top: 7%;
    }


    #contact .contact-card {
        flex-direction: row;
        position: relative;
    }

    #contact .contact-img {
        min-height: 300px;
        min-width: 350px;
        width: 50%;
    }

    #contact .contact-info {
        width: 60%; 
        padding-top: 5.5%;
        
    }
}
