* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 3.5rem;
    text-align: center;
    font-family: "Philosopher", serif;
}

.section-title span {
    color: #D9483B;
}

.sub-header {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    font-family: "Philosopher", serif;
}

p {
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.7rem;
    letter-spacing: 0.05rem;
}

.button {
    padding: 12px 35px;
    display: inline-block;
    transition: 0.2s ease;
    border-radius: 8px;
    background-color: white;
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
}

.button .button-img {
    position: absolute;
    z-index: -1;
}

.red.button {
    color: #D9483B;
    border: 2px solid #D9483B;

}

.red.button:hover {
    background-color: #D9483B;
    color: white;
}

.red.button .button-img {
    top: -52%;
    right: -13%;
    width: 50px;
}

.blue.button {
    color: #8F60F6;
    border: 2px solid #8F60F6;
}

.blue.button:hover {
    background-color: #8F60F6;
    color: white;
}

.blue.button .button-img {
    top: -155%;
    left: -9%;
    width: 60px;
}

.green.button:hover {
    background-color: #028102;
    color: white;
}

.green.button {
    color: #028102;
    border: 2px solid #028102;
}

.green.button .button-img {
    width: 40px;
    top: -65%;
    left: -9%;
    transform: rotate(-13deg);
}


/* Hero */
#hero {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/images/background-moriya.jpg);
    background-position: center;
    background-size: cover;
}

#hero .hero {
    align-items: flex-start;
    padding-left: 20px;
}

#hero h1 {
    font-size: 6rem;
    line-height: 120%;
    color: white;
}

#hero h1 span {
    color: #D9483B;
}

/* End Hero */

/* About Us */
#about-us {
    padding: 100px 0;
}

#about-us .about-us {
    width: 90%;
    margin: 0 auto;
    max-width: 1100px;
    justify-content: flex-start;
    gap: 100px;
}

#about-us h1 {
    margin-bottom: -50px;
}

.the-shrine {
    justify-self: center;
    width: 100%;
}
.shrine-img {
    height: 250px;
}

.shrine-info {
    padding: 40px 30px 30px;
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.3);
}

.the-shrine h2 {
    margin-bottom: 20px;
}

.the-shrine p {
    margin-bottom: 25px;
}

.our-members {
    text-align: center;
}

.our-members h2 {
    margin-bottom: 50px;
}

.members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.member-card {
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.3);
    border-radius: 8px;
    padding: 50px 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-card h3 {
    font-size: 2.4rem;
    margin-bottom: 20px;
    letter-spacing: 0.2rem;
}

.members .member-card:nth-child(1) h3 {
    color: #028102;
}

.members .member-card:nth-child(2) h3 {
    color: #D9483B;
}

.members .member-card:nth-child(3) h3 {
    color: #8F60F6;
}

.member-card a {
    margin: 25px 0 50px;
    width: 200px;
}

.member-card .member-info {
    width: 90%;
}

.member-card .member-img {
    width: 90%;
}



/* End About Us */